.header-color{
 
  background-image: url("https://media.giphy.com/media/KcnbWfsuFr7JpgowGT/source.gif");

}
a{
  text-decoration: none;
  
}

.landing-grid{
  background-color: black;
  background-image: url("https://wallpaperaccess.com/full/137980.jpg");
  
height: 100vh;
background-size: contain;
}

.intro-text{
  position: relative;
  
  width: 100%;
  margin: auto;
  border-radius: 10px;
  size: 10px;
  height:50%;
  background-position:center;
}
.intro-text h1{

text-align: center;
  padding-top: 20%;

  font-size: 40px;
 font-weight: bolder;
 color: bisque;
  
}
.social-links {
  background:black;
  border-radius: 10em;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: black;
  font-size: 50px;
 
}
.contact-grid{
text-align: center;
justify-content: center;;
background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  opacity: .7;
  height: 100vh;

}
.contact-list i{

  font-size: 66px;
  padding-right: 5rem;
  color: black;
  
  
}
.contact-grid h2{
  

  font-family: 'Anton',sans-serif;
  color: white;
  background: maroon;
  border: 3px maroon;
  margin-bottom: 20px;
  border-radius: 50px;
  text-align: center;
  background-size: contain;
}
.contact-grid hr{
  border-top: 5px dotted maroon;
  width: 50%;
  margin: auto;
}
.profile-list i{
  color: black;
  font-size: 66px;
  padding-right: 5rem;
}
.aboutme-body{

  background: black;
  width: 50%;
  height: fit-content;
  border-radius: 4em;;
  border-color: maroon;


}
.aboutme-grid{
  
 justify-content: center;
  background: #FFEFBA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
    opacity: .7;
    height: 100vh;
   
}
.aboutme-body h1{
  color:bisque;
  font-family: 'Anton',sans-serif;
 font-size: 30px;
text-align: center;
 

}
